*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
@font-face {
    font-family: font1;
    src: url("../plain-light-webfont_3875f8e0.ttf");
} 
@font-face {
    font-family:fontSer;
    src: url("../silkserif-lightitalic-webfont_3bcb9561.ttf");
}  
html , body{
    width: 100%;
    height: 100%;
}
#crsr{
    width: 2.8vw;
    height: 2.8vw; 
    border: 1px solid rgba(255, 255, 255, 0.635);
    border-radius: 50%;
    position: fixed;
    z-index: 99; 
    mix-blend-mode: difference;
    transform: translate(-50% , -50%);
}
#loader{
    width: 100%;
    height: 100%;
    position:fixed;
    z-index: 999;
    background-color: #030303;
    padding: 20vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}
#line-part1 h5 , #line-part1 h6{
    font-size: 4vw;
    font-family: fontSer ;
    font-weight: 100;
}
#line-part1 h5{
    width: 4vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
    font-family: font1;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    font-family: font1;
}
#main{
    position: relative;
    background-color: #181717;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color: #191818;
}
@keyframes loader-anime {
    0%{
        font-family: font1;
        opacity: 1;
        transform: translate(0,0);
    } 
    48%{
        font-family: font1;
        opacity: 0;
    }
    50%{
        font-family: fontSer;
        opacity: 1;
    }
    100%{
        font-family: fontSer;
        opacity: 0;
        color: transparent;
    }
}
.line h2{
    font-size: 5;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw  5vw;
}
#page1 #nav-part1 img{
    margin-left: 40px;
    width: 40px;
    height: 40px;
}
#page1 #nav-part2{
    display: flex;
    align-items: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}
.hero{
    margin-left: 25%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.hero h1{
    width: 80vw;
    font-family: font1;
    font-size: 7.5vw;
    line-height: 7.5vw;
    text-transform: uppercase;
    height: fit-content;
}
 #hero1::before{
    content: "01";
    position:absolute;
    font-size: 3.3vw;
    margin-left: -8vw;
    margin-top: -2.5vw;
    font-weight: 500;
    font-family: fontSer;
}
.hero:nth-child(2){
    margin-top:13vh;
}
.hero h2{
    width: fit-content;
    font-family: font1;
    font-size: 7.5vw;
    line-height: 7.5vw;
    text-transform: uppercase;
    height: fit-content;
    border-bottom: 0.5vw solid white;
    padding-bottom: 0.5vw;
}
.hero h2:hover{    
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font: 500;
    border-bottom: 0.5vw solid transparent;
}
#flag{
    height: 25vw;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transform: translate(-50% , -50%);
}
#hero2{
    /* background-color: red; */
    z-index: 999;
    position: relative;
}
#page2{
    width: 100%;
    height: 100vh;
    position:relative;
}
#video-container{
    width: 65vw;
    height: 70vh;
    left: 32%;
    position:relative;
    background-image:url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-size: cover;
    position: center;
}
#video-container video{
    width: 100%;
    height: 100%;
    opacity: 0;
}
#video-container #cursor{
    width: 5vw;
    height: 5vw;
    background-color: rgb(209, 148, 35);
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    top: 10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cursor i{
    font-size: 2vw;
}
#video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: #242323; */
    position:relative;
}
#page3 h1{
    font-family: font1;
    font-size: 7vw;
    text-transform: uppercase;
    margin-left: 28vw;
}
#page3 h1::before{
    content: "02";
    position:absolute;
    font-size: 3.3vw;
    margin-left: -8vw;
    margin-top: 1vw;
    font-weight: 500;
    font-family: fontSer;
}
#page3 .underLine{
    margin: 3vw 0vw;
    width: 100%;
    height: 0.1vw;
    background-color: #fff;
    margin-left: 28vw 2vw;
}
#img-div-container{
    /* background-color: red; */
    position:relative;
    padding: 1vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.img-div{
    width: 25vw;
    height: 35vw;
    /* background-color: blue; */
    position:relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 5vw 2vw;
}
.img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.img-div:nth-child(1){
    width: 22vw;
    height: 28vw;
    margin-bottom: 11vw;
}
.img-div:nth-child(5){
    width: 22vw;
    height: 28vw;
}
#page3-circle1{
    width: 20vw;
    height: 20vw;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.728);
    border-radius: 50%;
    margin-left: 10vw;
    margin-bottom: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3-circle1 i{
   font-size: 10vw;
   color: transparent;
   -webkit-text-stroke: 2px #fff;
}
#page3-circle2{
    width: 20vw;
    height: 20vw;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.728);
    border-radius: 50%;
    margin-right: 3vw;
    margin-bottom: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3-circle2 i{
   font-size: 10vw;
   color: transparent;
   -webkit-text-stroke: 2px #fff;
   rotate: 315deg;
}
.circle1-in{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    opacity: 0;
}
.circle1-in p{
    font-family: font1;
    font-size: 1vw;
    color: black;
    font-weight: 500;
    width: 70%;
    scale: 0;
    opacity: 0;
}
#page3-circle1:hover .circle1-in{
    scale: 1;
    transition: all ease 0.3s;
    transition-delay: 0.3s;
    opacity: 1;
}
#page3-circle1:hover p{
    scale: 1;
    transition: all ease 0.3s;
    transition-delay: 0.3s;
    opacity: 1;
}
#page3-circle2:hover .circle1-in{
    scale: 1;
    transition: all ease 0.3s;
    transition-delay: 0.3s;
    opacity: 1;
}
#page3-circle2:hover p{
    scale: 1;
    transition: all ease 0.3s;
    transition-delay: 0.3s;
    opacity: 1;
}
#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: #242323; */
    position:relative;
}
#page4-content{
    width: 70vw;
    position: relative;
    margin-left: 29%;
    margin-top: 5vw;
}
#page4 h1{
    font-family: font1;
    font-size: 7vw;
    text-transform: uppercase;
}
#page4 h1::before{
    content: "03";
    position:absolute;
    font-size: 3.3vw;
    margin-left: -8vw;
    margin-top: 1vw;
    font-weight: 500;
    font-family: fontSer;
}
#page4-content .underLine{
    margin: 3vw 0vw;
    width: 100%;
    height: 0.1vw;
    background-color: #fff;
}
#page4-content >p{
    width: 60%;
    font-size: 2.3vw;
    font-family: font1;
    margin-top: 5vw;
    margin-bottom: 3vw;
}
#page4-img {
   display: flex;
}
#page4-img img{
    width: 45%;
}
#page4-img p{
    width: 35%;
    font-size: 1.2vw;
    margin-left: 3vw;
    font-family: font1;
}
#page4-blue-div{
    width: 55%;
    background-color: rgb(61, 61, 237);
    position: relative;
    margin-top: -13vw;
    margin-left: 37%;
}
.blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: font1;
    padding: 2.6vw 3vw;
    border-bottom: 0.1vw solid #ffffffa1;
}
.blue-div-elem h5{
    font-family: font1;
    font-size: 2vw;
    font-weight: 400;
}
.blue-div-elem p{
    font-family: font1;
    font-size: 1vw;
    width: 50%;
}
#page5{
    min-height: 100vh;
    width: 100%;
    margin-top: 10vw;
}
#page5 .elem{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
}
.elem h1{
   font-size: 7vw;
   font-family: font1;
   line-height: 7vw;
   font-weight: 400;
   text-transform: uppercase;
   -webkit-text-stroke: 0.1vw white;
   color: transparent;
   display: inline-block;
   margin-right: 16px;
   animation-name: anime;
   animation-duration: 10s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   margin-bottom: 1vw;
}
@keyframes anime {
    to{
        transform: translateX(0);
    }
    from{
        transform: translateX(calc(-100% - 20px));
    }
}
#page5 .elem2{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
}
.elem2 h1{
   font-size: 7vw;
   font-family: font1;
   line-height: 7vw;
   font-weight: 400;
   text-transform: uppercase;
   -webkit-text-stroke: 0.1vw white;
   color: transparent;
   display: inline-block;
   margin-right: 16px;
   transform: translateX(calc(-100% - 20px));
   animation-name: anime;
   animation-duration: 10s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: reverse;
   margin-bottom: 1vw;
}
.elem span{
    font-family: fontSer;
    color: transparent;
}
.elem2 span{
    font-family: fontSer;
    color: transparent;
}
#footer{
    height: 85vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding-left: 28%;
}
#footer h1{
    font-size: 8vw;
    font-family: font1;
    text-transform: uppercase;
}
#footer h1::before{
    content: "04";
    position:absolute;
    font-size: 3.3vw;
    margin-left: -8vw;
    margin-top: 1vw;
    font-weight: 500;
    font-family: fontSer;
}
.underline{
    width: 100%;
    height: 0.2vw;
    background-color: #ffffffcb;
    margin: 2vw 0;
}
#footer-div{
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-between;
    padding: 1vw 0;
}
.box{
    margin-right: 8vw;
}
.box h6{
    font-size: 1.2vw;
    font-family: font1;
    margin-bottom: 2vw;
}
.box h5{
    font-size: 2vw;
    font-family: font1;
    font-weight: 500;
}
#footer>h5{
   font-size: 1.2vw;
   font-weight: 400;
   font-family: font1;
}

._canvas_container{
    z-index: 999990 !important;
    pointer-events: none;
}

